 <div class="fondo_login" style="position:absolute;height:100%;width:100%">
    <div class="content_login">
        <div class="login-form" style="padding-top:13% !important">
        	<h3 class="title_password">RECUPERA TU CONTRASEÑA</h3>
            <div class="head">
                <h5 style="margin: 30px 40px;line-height: 23px;">Ingrese la nueva contraseña de su usuario <b>{{user.email}}</b></h5>
            </div>
            <form ng-submit="reestaurar()">
            	<input type="password" class="text_login" placeholder="Ingresa la nueva contraseña" ng-model="user.password1">
            	<input type="password" class="text_login" placeholder="Confirma la nueva contraseña" ng-model="user.password2">
            	<div class="submit">
                    <input type="submit" value="Restaurar contraseña">
                </div>
            </form>
            <div class="content_register">
              <a href="#/login">Volver a Login</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>  

