<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div class="row" align="center">
          <div class="col-xs-12">
            <h4>Cantidad de productos</h4>
          </div>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" align="center">
        <p>El producto {{nom}} posee {{canti}} unidades.</p>

        <p>Productos a entregar: {{cant}}</p>
        <div align="center">
          <md-button ng-click="mas(cant)" class="md-fab">
            +
          </md-button>
          <md-button ng-click="menos(cant)" class="md-fab" style="background-color: #ff0000 !important">
            -
          </md-button>
        </div>

        <p>Monto de productos: S/.{{sub | number:2}}</p>


      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button  target="_blank" md-autofocus ng-click="cancel()" style="background-color: #ff0000 !important; color:#ffffff">
        Cancelar
      </md-button>
      <span flex></span>

      <md-button ng-click="enviar()" class="md-primary">
        Enviar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>