 <div class="fondo_login">
    <div class="content_login">
        <div class="login-form">
            <div class="head">
                <img src="images/logo.png" alt="" />
            </div>
            <form ng-submit="login()" autocomplete="on">
                <!--<div>
                  <button type="button" class="btn-facebook btn" data-ng-click="IntentLogin()">Iniciar Sesión con Facebook</button>
                </div>-->
                <br>
                <input type="text" class="text_login" placeholder="Email" ng-model="user.username" autocomplete="on" name="user">
                <input type="password" class="text_login" placeholder="Contraseña" ng-model="user.password" autocomplete="on" name="password">
                <div class="submit">
                    <input type="submit" value="Iniciar Sesión" >
                </div>
                <label>
                <input type="checkbox" name="remember" data-ng-click="rememberMe()" data-ng-model="remember"> &nbsp; Recordar
                </label>
            </form>
            <div class="content_register">
              ¿No tienes cuenta? <a ng-click="agregar()">Resgístrate</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
