<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>
  <nav class="navbar navbar-default" role="navigation" style="background-color: #029ED1 !important">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" style="background-color: #FFF !important">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color: #FFF">Liebre Express</a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      
        <ul class="nav navbar-nav">
          <li><a href="#/tracking" style="color: #FFF"><span class="menu-icon fa fa-search" style="color: #E6A344"></span> Pedidos</a></li>
          <li><a href="#/encamino" style="color: #FFF"><span class="menu-icon fa fa-motorcycle" style="color: #E6A344"></span> En Camino</a></li>
          <li><a href="#/historial" style="color: #FFF"><span class="menu-icon fa fa-list-ol" style="color: #E6A344"></span> Historial</a></li>
<!--           <li><a href="#/anulados" style="color: #FFF"><span class="menu-icon fa fa-ban" style="color: #E6A344"></span> Anulados</a></li> -->
          <li><a href="#/perfil" style="color: #FFF"><span class="menu-icon fa fa-user" style="color: #E6A344"></span> Perfil</a></li>
          <li><a href="#" style="color: #FFF"><span class="menu-icon fa fa-question" style="color: #E6A344"></span> Ayuda</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <loading></loading>
        <!-- Main Content -->
        <div class="content" style="background-color:#fafafa">
          <div class="row">
            <div class="col-md-5">
              <div class="row form_profile">
                <div class="col-md-12">
                  <div class="fondo_login2 content_profile">
                    <div class="border_img">
                      <img ng-src="{{con}}" class="img_profile" width="100" height="100">
                    </div>
                    <div class="text_img"><div class="texto_imagen">{{imagenConductor.name}}</div></div>
                    <input type="file" class="seleccionar" ng-change='changeConductor(conductor)'  ngf-select ng-model="conductor" name="file" accept="image/*" ngf-max-size="2MB" >
                    <i class="fa fa-search lupa" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-md-12">
                    <h3 class="text_info">Información General</h3>
                    <div class="input_double" ng-show="persona">
                    <label>Nombre:</label>
                    <a href="#" editable-text="user.name"> {{ user.name || "sin información" }}</a>
                    </div>
                    <div class="input_double" ng-show="persona">
                    <label>Apellidos:</label>
                    <a href="#" editable-text="user.apellidos"> {{ user.apellidos || "sin información" }}</a>
                    </div>
                    <div class="input_double" ng-show="empresa">
                    <label>Razón Social:</label>
                    <a href="#" editable-text="user.razon_social"> {{ user.razon_social || "sin información" }}</a>
                    </div>
                    <div class="input_double">
                    <label>Correo: </label>
                    <a href="#" editable-email="user.email"> {{ user.email || "sin información" }}</a>
                    </div>
                    <div class="input_double" ng-show="persona">
                    <label>DNI:</label>
                    <a href="#" editable-text="user.dni"> {{ user.dni || "sin información" }}</a>
                    </div>
                    <div class="input_double" ng-show="empresa">
                    <label>RUC:</label>
                    <a href="#" editable-text="user.ruc"> {{ user.ruc || "sin información" }}</a>
                    </div>
                    <div class="input_double">
                    <label>Teléfono: </label>
                    <a href="#" editable-text="user.telefono"> {{ user.telefono || "sin información" }}</a>
                    </div>               
                </div>
                <div class="col-md-12">
                  <br>
                  <button class="btn btn-danger pull-right btn-add btn-top" ng-click="actualizar()">Actualizar Datos</button>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row form_profile">
              <div class="col-md-12">
                <h3 class="text_fav">Adjuntar Datos</h3>
              </div>

              <!--   //////////   LICENCIA   /////////   -->
            <div class="row">
              <div class="col-md-3">
                  <p style="margin-bottom:20px !important; font-weight: bold;display:inline-block;">LICENCIA DE CONDUCIR</p>
              </div>
              <div class="col-md-3">
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group input_pedido" style="width:70% !important">
                      <label>Adjuntar Archivo:</label>
                      <div><div class="text_img"><div class="texto_imagen">{{imagenLicencia.name}}</div></div>
                      <input type="file" class="seleccionar" ng-change='changeLicencia(licencia)' ngf-select ng-model="licencia" name="file" accept="image/*,application/pdf" ngf-max-size="2MB" >
                    <i class="fa fa-search lupa" aria-hidden="true"></i><i class="fa fa-times eliminar_archivo" aria-hidden="true" ng-if="imagenLicencia != ''" ng-click="deleteLicencia(licencia)"></i>
                  </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <br>
                  <div class="col-xs-12 col-md-12">
                  <loading></loading>
                  <iframe src="{{lic}}" style="height: 100%; width: 100%"></iframe>
                  </div>
                  <hr style="margin-top:5px !important">
              </div> 
              <div class="col-md-3">
                <button class="pull-right btn buttom_blue" ng-click="adjLicencia(licencia)">Subir licencia</button>
              </div>
            </div>

              <!--   //////////   ANTECEDENTES   /////////   -->
            <div class="row">
              <div class="col-md-3 ">
                  <p style="margin-bottom:20px !important; font-weight: bold;display:inline-block;">ANTECEDENTES PENALES</p>
              </div>
              <div class="col-md-3">
                <div class="col-xs-12 col-md-12">
                  <div class="form-group input_pedido" style="width:70% !important">
                    <label>Adjuntar Archivo:</label>
                    <div><div class="text_img"><div class="texto_imagen">{{imagenAntecedente.name}}</div></div>
                    <input type="file" class="seleccionar" ng-change='changeAntecedente(antecedente)' ngf-select ng-model="antecedente" name="file" accept="image/*,application/pdf" ngf-max-size="2MB" >
                  <i class="fa fa-search lupa" aria-hidden="true"></i><i class="fa fa-times eliminar_archivo" aria-hidden="true" ng-if="imagenAntecedente != ''" ng-click="deleteAntecedente(antecedente)"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                  <br>
                  <div class="col-xs-12 col-md-12">
                  <loading></loading>
                  <iframe src="{{ant}}" style="height: 100%; width: 100%"></iframe>
                  </div>
                  <hr style="margin-top:5px !important">
              </div>
              <div class="col-md-3">
                <button class="pull-right btn buttom_blue" ng-click="adjAntecedente(antecedente)">Subir antecedente</button>
              </div>
            </div>

              <!--   //////////   SOAT   /////////   -->
            <div class="row">
              <div class="col-md-3">
                  <p style="margin-bottom:20px !important; font-weight: bold;display:inline-block;">SOAT</p>
              </div>
              <div class="col-md-3">
                  <br>
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group input_pedido" style="width:70% !important">
                      <label>Adjuntar Archivo:</label>
                      <div><div class="text_img"><div class="texto_imagen">{{imagenSoat.name}}</div></div>
                      <input type="file" class="seleccionar" ng-change='changeSoat(soat,imagenSoat)' ngf-select ng-model="soat" name="file" accept="image/*,application/pdf" ngf-max-size="2MB" >
                    <i class="fa fa-search lupa" aria-hidden="true"></i><i class="fa fa-times eliminar_archivo" aria-hidden="true" ng-if="imagenSoat != ''" ng-click="deleteSoat()"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <br>
                  <div class="col-xs-12 col-md-12">
                  <loading></loading>
                  <iframe src="{{st}}" style="height: 100%; width: 100%"></iframe>
                  </div>
                  <hr style="margin-top:5px !important">
                </div>
                <div class="col-md-3">
                  <button class="pull-right btn buttom_blue" ng-click="adjSoat(soat)">Subir soat</button>
                </div>
              </div>   

                <!--   //////////   DECLARACION   /////////   -->
              <div class="row">
                <div class="col-md-3">
                  <p style="margin-bottom:20px !important; font-weight: bold;display:inline-block;">DECLARACION JURADA DE DOMICILIO</p>
                </div>
                <div class="col-md-3">
                  <br>
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group input_pedido" style="width:70% !important">
                      <label>Adjuntar Archivo:</label>
                      <div><div class="text_img"><div class="texto_imagen">{{imagenRevision.name}}</div></div>
                      <input type="file" class="seleccionar" ng-change='changeRevision(revision)' ngf-select ng-model="revision" name="file" accept="image/*,application/pdf" ngf-max-size="2MB" >
                    <i class="fa fa-search lupa" aria-hidden="true"></i><i class="fa fa-times eliminar_archivo" aria-hidden="true" ng-if="imagenRevision != ''" ng-click="deleteRevision()"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <br>
                  <div class="col-xs-12 col-md-12">
                  <loading></loading>
                  <iframe src="{{rv}}" style="height: 100%; width: 100%"></iframe>
                  </div>
                </div>
                <div class="col-md-3">
                  <button class="pull-right btn buttom_blue" ng-click="adjDeclaracion(revision)">Subir declaración</button>
                </div>
                <hr style="margin-top:5px !important">
              </div> 
              
                <!--   //////////   FOTO DEL VEHICULO   /////////   -->
              <div class="row">
                <div class="col-md-3">
                  <p style="margin-bottom:20px !important; font-weight: bold;display:inline-block;">FOTO DEL VEHICULO</p>
                </div>
                <div class="col-md-3">
                  <div class="col-xs-12 col-md-12">
                    <div class="text_img"><div class="texto_imagen">{{imagenVehiculo.name}}</div></div>
                      <input type="file" class="seleccionar" ng-change='changeVehiculo(vehiculo)' ngf-select ng-model="vehiculo" name="file" accept="image/*,application/pdf" ngf-max-size="2MB" >
                    <i class="fa fa-search lupa" aria-hidden="true"></i><i class="fa fa-times eliminar_archivo" aria-hidden="true" ng-if="imagenVehiculo != ''" ng-click="deleteVehiculo(vehiculo)"></i>
                    </div>
                </div>
                <div class="col-md-3">
                  <br>
                  <div class="col-xs-12 col-md-12">
                  <loading></loading>
                  <iframe src="{{veh}}" style="height: 100%; width: 100%"></iframe>
                  </div>
                </div>
                <div class="col-md-3">
                  <button class="pull-right btn buttom_blue" ng-click="adjVehiculo(vehiculo)">Subir foto del vehículo</button>
                </div>
                <hr style="margin-top:5px !important">
              </div> 
              <!-- <div class="col-md-12">
                <div class="content-tab">
                  <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{ active1: isSet(1) }">
                        <a href ng-click="setTab(1)">Agregar Favorito</a>
                    </li>
                    <li ng-class="{ active1: isSet(2) }">
                        <a href ng-click="setTab(2)">Mis Favoritos</a>
                    </li>
                  </ul>
                </div>
              <div class="content-tab2">
                <div>
                  <div ng-show="isSet(1)">
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <div ng-show="false" class="col-md-12">
                              <input  ng-model="chosenPlace" googleplace/>
                              <input  type="text" ng-model="origen.direccion" placeholder="Enter an origin location"  g-places-autocomplete  options="autocompleteOptions" ng-enter="consola()">
                            </div>
                            <div class="form-group input_pedido">
                                <label>Dirección</label>
                                <input  type="text" ng-model="origen.direccion" placeholder=" Ingresa tu dirección favorita"  g-places-autocomplete options="autocompleteOptions" ng-blur="consola2(0)" class="form-control" style="padding-right: 30px;">
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-12">
                            <div class="form-group input_pedido">
                              <label>Departamento</label>
                              <input type="text"  ng-model="origen.departamento" placeholder="Departamento, Oficina" class="form-control"/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <div class="form-group input_pedido">
                              <label>Persona de Contacto</label>
                              <input type="text"  ng-model="origen.nombre"   class="form-control" placeholder="Nombre de contacto"/>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-12">
                            <div class="form-group input_pedido">
                              <label>Teléfono de Contacto</label>
                             <input type="texto"  ng-model="origen.telefono" class="form-control" placeholder="Teléfono de contacto"/>
                            </div>
                            <br>
                          </div>
                        </div> 
                      </div>
                      <div class="col-md-12">
                        <div>
                          <div id="mapfav"></div>
                        </div>
                        <br>
                      </div>
                      <div class="col-xs-12 col-md-12">
                        <br>
                        <button class="btn btn-danger pull-right btn-add btn-top" ng-click="agregar()">Guardar</button>
                      </div>
                    </div>
                  </div>
                  <div ng-show="isSet(2)">
                    <div ng-controller="ListadoFavoritosCtrl as showCase">
                      <p class="text-danger"><strong>{{ showCase.message }}</strong></p>
                      <br>
                      <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover tabla_pacientes"></table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
            </div>
          </div>
          
          
        </div>
