<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak >
    <md-dialog-content>
      <div>
        <i class="fa fa-times delete_modal" aria-hidden="true" ng-click="cancelar()"></i>
      </div>
      <div class="md-dialog-content">
        <div class="logo_register">
            <img src="images/logo.png" alt="" />
        </div>
        <div class="content-tab">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)"><span class="menu-icon fa fa-user"></span>&nbsp;&nbsp;Persona</a>
            </li>
            <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)"><span class="menu-icon fa fa-building"></span>&nbsp;&nbsp;Empresa</a>
            </li>
            <li ng-class="{ active: isSet(3) }">
                <a href ng-click="setTab(3)"><span class="menu-icon fa fa-desktop"></span>&nbsp;&nbsp;E-commerce</a>
            </li>
          </ul>
        </div>
        <div class="content-tab2">
          <div class="content_formrg">
            <div ng-show="isSet(1)">
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="registro.name">
              </div>
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Apellido" ng-model="registro.apellidos">
              </div>
               <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="DNI" ng-model="registro.dni">
              </div>
              <div class="text_registro form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="registro.email">
              </div>
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Teléfono" ng-model="registro.telefono">
              </div>
              <div class="text_registro form-group">
                <input type="password" class="form-control" placeholder="Contraseña" ng-model="registro.password">
              </div>
              <div class="text_registro form-group">
                <input type="password" class="form-control" placeholder="Repita contraseña" ng-model="registro.rpassword">
              </div>
                <br>
                <button class="btn btn-danger btn-add" ng-click="guardar('1')">Registrar</button>
            </div>
            <div ng-show="isSet(2)">
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Razón Social" ng-model="registro.razon_social">
              </div>
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="RUC" ng-model="registro.ruc">
              </div>
              <div class="text_registro form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="registro.email">
              </div>
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Teléfono" ng-model="registro.telefono">
              </div>
              <div class="text_registro form-group">
                <input type="password" class="form-control" placeholder="Contraseña" ng-model="registro.password">
              </div>
              <div class="text_registro form-group">
                <input type="password" class="form-control" placeholder="Repita contraseña" ng-model="registro.rpassword">
              </div>
                <br>
                <button class="btn btn-danger btn-add" ng-click="guardar('2')">Registrar</button>  
            </div>
            <div ng-show="isSet(3)">
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Razón Social" ng-model="registro.razon_social">
              </div>
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="RUC" ng-model="registro.ruc">
              </div>
              <div class="text_registro form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="registro.email">
              </div>
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Teléfono" ng-model="registro.telefono">
              </div>
              <div class="text_registro form-group">
                <input type="password" class="form-control" placeholder="Contraseña" ng-model="registro.password">
              </div>
              <div class="text_registro form-group">
                <input type="password" class="form-control" placeholder="Repita contraseña" ng-model="registro.rpassword">
              </div ">
                <br>
                <button class="btn btn-danger btn-add" ng-click="guardar('3')">Registrar</button>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>