 <div class="fondo_login" style="position:absolute;height:100%;width:100%">
    <div class="content_login">
        <div class="login-form" style="padding-top:13% !important">
        	<h3 class="title_password">RECUPERA TU CONTRASEÑA</h3>
            <div class="head">
                <h5 style="margin:40px">Para recuperar su contraseña de acceso, deberá ingresar el e-mail con el que se registro en nuestro portal y le enviaremos la información necesaria para la restauración.</h5>
            </div>
            <form ng-submit="resetPassword()">
            	<input type="email" class="text_login" placeholder="Ingresa tu email" ng-model="email.email">
            	<div class="submit">
                    <input ng-disabled="enviando" type="submit" value="Restaurar contraseña">
                </div>
            </form>
             <div class="content_register">
              <a href="#/login">Volver a Login</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>  

