<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Menú
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-list">
          <a href="#/pedido">Realizar envíos <span class="menu-icon fa fa-truck"><md-tooltip md-direction="right">Realizar envíos</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/tracking">Mis envíos <span class="menu-icon fa fa-search"><md-tooltip md-direction="right">Mis envíos</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/historial">Historial <span class="menu-icon fa fa-clock-o"><md-tooltip md-direction="right">Historial</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/reprogramar">Reprogramar envío <span class="menu-icon fa fa-refresh"><md-tooltip md-direction="right">Reprogramar envío</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/liquidaciones">Liquidaciones <span class="menu-icon fa fa-list-alt"><md-tooltip md-direction="right">Liquidaciones</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/perfil">Mi cuenta <span class="menu-icon fa fa-user"><md-tooltip md-direction="right">Mi cuenta</md-tooltip></span></a>
        </li>
        <!--<li class="sidebar-list">
          <a href="#">Ayuda <span class="menu-icon fa fa-question"></span></a>
        </li>-->
      </ul>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content" style="background-color:#fafafa">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <p class="welcome_name">Bienvenido, {{profile.usuario}} </p>
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img ng-src="{{profile.picture}}">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{profile.usuario}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a ng-click="cerrarS()">
                      Cerrar Sesión
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
               <img src="images/logo.png" width="90" height="45">
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="content" style="background-color:#fafafa">
          <div class="row">
            <div class="col-md-5">
              <div class="row form_profile">
                <div class="col-md-12">
                  <div class="fondo_login2 content_profile">
                    <div class="border_img">
                      <img ng-src="{{profile.picture}}" class="img_profile" width="100" height="100">
                    </div>
                    <div class="text_img"><div class="texto_imagen">{{imagenSubir.name}}</div></div>
                    <input type="file" class="seleccionar" ng-change='changeImage(picFile2)' ngf-select ng-model="picFile2" name="file" accept="image/*" ngf-max-size="2MB" >
                    <i class="fa fa-search lupa" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-md-12">
                    <h4 class="text_info">Información General</h4>
                    <div class="input_double" ng-show="persona">
                    <label>Nombre:</label>
                    <a href="#" editable-text="user.name"> {{ user.name || "sin información" }}</a>
                    </div>
                    <div class="input_double" ng-show="persona">
                    <label>Apellidos:</label>
                    <a href="#" editable-text="user.apellidos"> {{ user.apellidos || "sin información" }}</a>
                    </div>
                    <div class="input_double" ng-show="empresa">
                    <label>Razón Social o Fans Page:</label>
                    <a href="#" editable-text="user.razon_social"> {{ user.razon_social || "sin información" }}</a>
                    </div>
                    <div class="input_double">
                    <label>Correo: </label>
                    <a href="#" editable-email="user.email"> {{ user.email || "sin información" }}</a>
                    </div>
                    <div class="input_double" ng-show="persona">
                    <label>DNI:</label>
                    <a href="#" editable-text="user.dni"> {{ user.dni || "sin información" }}</a>
                    </div>
                    <div class="input_double" ng-show="empresa">
                    <label>RUC o DNI:</label>
                    <a href="#" editable-text="user.ruc"> {{ user.ruc || "sin información" }}</a>
                    </div>
                    <div class="input_double">
                    <label>Celular: </label>
                    <a href="#" editable-text="user.telefono"> {{ user.telefono || "sin información" }}</a>
                    </div>               
                </div>
                <div class="col-md-12">
                  <br>
                  <button class="btn btn-danger pull-right btn-add btn-top" ng-click="actualizar()">Actualizar Datos</button>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row form_profile">
            <div class="col-md-12">
              <h4 class="text_fav">Direcciones Favoritas</h4>
            </div>
            <div class="col-md-12">
              <div class="content-tab">
                <ul class="nav nav-pills nav-stacked">
                  <li ng-class="{ active1: isSet(1) }">
                      <a href ng-click="setTab(1)">Agregar Favorito</a>
                  </li>
                  <li ng-class="{ active1: isSet(2) }">
                      <a href ng-click="setTab(2)">Mis Favoritos</a>
                  </li>
                </ul>
              </div>
              <div class="content-tab2">
                <div>
                  <div ng-show="isSet(1)">
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <div ng-show="false" class="col-md-12">
                              <input  ng-model="chosenPlace" googleplace/>
                              <input  type="text" ng-model="origen.direccion" placeholder="Enter an origin location"  g-places-autocomplete  options="autocompleteOptions" ng-enter="consola()">
                            </div>
                            <div class="form-group input_pedido">
                                <label>Dirección</label>
                                <input  type="text" ng-model="origen.direccion" placeholder=" Ingresa tu dirección favorita"  g-places-autocomplete options="autocompleteOptions" ng-blur="consola2(0)" class="form-control" style="padding-right: 30px;">
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-6">
                            <div class="form-group input_pedido">
                              <label>Departamento</label>
                              <input type="text"  ng-model="origen.departamento" placeholder="Departamento, Oficina" class="form-control"/>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-6">
                            <div class="form-group input_pedido">
                              <label>Distrito</label>
                              <select ng-model='origen.distrito' ng-change="ajusteDistrito(origen)" class="form-control" null-is-undefined ng-options="select.nombre for select in distritos" style="padding-top: 3px;">
                                <option value="" style="color:#9c9c9f">Seleccione Distrito</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 col-md-6">
                            <div class="form-group input_pedido">
                              <label>Persona de Contacto</label>
                              <input type="text"  ng-model="origen.nombre"   class="form-control" placeholder="Nombre de contacto"/>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-6">
                            <div class="form-group input_pedido">
                              <label>Teléfono de Contacto</label>
                             <input type="texto"  ng-model="origen.telefono" class="form-control" placeholder="Teléfono de contacto"/>
                            </div>
                            <br>
                          </div>
                        </div> 
                      </div>
                      <div class="col-md-12">
                        <div>
                          <div id="mapfav"></div>
                        </div>
                        <br>
                      </div>
                      <div class="col-xs-12 col-md-12">
                        <br>
                        <button class="btn btn-danger pull-right btn-add btn-top" ng-click="agregar()">Guardar</button>
                      </div>
                    </div>
                  </div>
                  <div ng-show="isSet(2)">
                    <div ng-controller="ListadoFavoritosCtrl as showCase">
                      <p class="text-danger"><strong>{{ showCase.message }}</strong></p>
                      <br>
                      <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover tabla_pacientes"></table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
          
          
        </div>
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div>