<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Menú
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-list">
          <a href="#/pedido">Realizar envíos <span class="menu-icon fa fa-truck"><md-tooltip md-direction="right">Realizar envíos</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/tracking">Mis envíos <span class="menu-icon fa fa-search"><md-tooltip md-direction="right">Mis envíos</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/historial">Historial <span class="menu-icon fa fa-clock-o"><md-tooltip md-direction="right">Historial</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/reprogramar">Reprogramar envío <span class="menu-icon fa fa-refresh"><md-tooltip md-direction="right">Reprogramar envío</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/liquidaciones">Liquidaciones <span class="menu-icon fa fa-list-alt"><md-tooltip md-direction="right">Liquidaciones</md-tooltip></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/perfil">Mi cuenta <span class="menu-icon fa fa-user"><md-tooltip md-direction="right">Mi cuenta</md-tooltip></span></a>
        </li>
        <!--<li class="sidebar-list">
          <a href="#">Ayuda <span class="menu-icon fa fa-question"></span></a>
        </li>-->
      </ul>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">
        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <p class="welcome_name">Bienvenido, {{profile.usuario}} </p>
              <div class="item dropdown" uib-dropdown>
                <a class="dropdown-toggle" uib-dropdown-toggle>
                  <img ng-src="{{profile.picture}}">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{profile.usuario}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a ng-click="cerrarS()">
                      Cerrar Sesión
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
               <img src="images/logo.png" width="90" height="45">
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="content">
          <div class="content_form">
            <div class="content-datos">
              <div class="content_dist"><h5 class="dest-orin1 arrow_box"> ORIGEN</h5></div>
              <form>
                <table class="table table-striped table-bordered">
                    <tbody>
                      <div class="panel panel-default">
                         <div class="panel-body">
                            <div class="row">
                              <div style="text-align:right"> 
                                <button class="btn btn-icon"><md-tooltip md-direction="top">Agregar favorito</md-tooltip><span class="fa fa-star" ng-class="{active: origen.star}" ng-click="fav(origen)"></span></button>
                              </div>
                              <div class="col-xs-12 col-md-8">
                                <div ng-show="false" class="col-md-12">
                                  <input  ng-model="chosenPlace" googleplace/>
                                  <input  type="text" ng-model="origen.origen" placeholder="Enter an origin location"  g-places-autocomplete  options="autocompleteOptions" ng-enter="consola()">
                                </div>
                                <div class="form-group input_pedido">
                                    <label>Dirección de Recojo</label>
                                    <input  type="text" ng-model="origen.origen" placeholder="Dirección de recojo"  g-places-autocomplete options="autocompleteOptions" ng-blur="consola2(0)" ng-enter="consola2(0)" class="form-control" style="padding-right: 30px;" ng-disabled="user.almacen == 1">
                                    <div class="item dropdown fav_place" uib-dropdown ng-disabled="user.almacen == 1">
                                      <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                        <md-tooltip md-direction="top">Direcciones guardadas</md-tooltip><img ng-src="images/favorite-place.png" class="img_favorite">
                                      </a>
                                      <ul class="dropdown-menu dropdown-menu-right" style="right:106%; margin-top:6px">
                                        <li class="dropdown-header" ng-repeat="item in lista_favorito" ng-click="select_fav(item, 0)">
                                          {{item.direccion}} {{item.departamento}}
                                        </li>
                                      </ul>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-4">
                                <div class="form-group input_pedido">
                                  <label>N° Casa, Dpto., Lote</label>
                                  <input type="text"  ng-model="origen.departamentoOrigen" placeholder="N° Casa, Dpto., Lote" class="form-control" ng-disabled="user.almacen == 1"/>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 col-md-5">
                                <div class="form-group input_pedido">
                                  <label>Nombre</label>
                                  <input type="text"  ng-model="origen.nombreOrigen"   class="form-control" placeholder="Nombre de quién envía" ng-disabled="user.almacen == 1"/>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-3">
                                <div class="form-group input_pedido">
                                  <label>Celular</label>
                                 <input type="number" min="0" onkeydown="javascript: return event.keyCode == 69 ? false : true" ng-model="origen.telefonoOrigen" class="form-control" placeholder="Celular" ng-disabled="user.almacen == 1"/>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-4">
                                <div class="form-group input_pedido">
                                  <label>Distrito</label>
                                  <select ng-model='origen.distrito' ng-change="ajusteDistrito(origen)" class="form-control" null-is-undefined ng-options="select.nombre for select in distritos | orderBy:'nombre'" style="padding-top: 3px;" ng-disabled="user.almacen == 1">
                                    <option value="" style="color:#9c9c9f">Seleccione Distrito</option>
                                  </select>
                                </div>
                              </div>
                            </div> 
                            <div class="row">
                              <div class="col-xs-12 col-md-12">
                                <div class="form-group input_pedido">
                                  <label>Referencia</label>
                                  <textarea class="form-control" ng-model="origen.comentarios" placeholder="Referencias, indicaciones, etc." ng-disabled="user.almacen == 1"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row" ng-if="user.tipo_usuario == 3 && user.almacen == 1">
                              <div class="col-xs-12 col-md-4">
                                <div class="form-group input_pedido">
                                  <label>Fijar horario de recojo</label>
                                  <md-datepicker ng-model="fecha_origen" ng-change="ajusteFecha_origen(fecha_origen)" md-placeholder="Enter date" md-min-date="minDate" md-date-filter="onlyWeekendsPredicate" ng-disabled="user.almacen == 1"></md-datepicker>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-4">
                                <div class="form-group input_pedido">
                                  <label>Turno</label>
                                  <select ng-model='horaPedido2_origen' ng-change="ajusteHora1_origen(horaPedido2_origen)" class="form-control" null-is-undefined ng-options="select.id as select.horario for select in seleccionarHorario" ng-disabled="user.almacen == 1">
                                    <option value="">Seleccione el turno</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-4">
                                <div class="form-group input_pedido">
                                  <label>Rango</label>
                                  <select ng-model='horaPedido3_origen' ng-change="ajusteHora2_origen(horaPedido3_origen)" class="form-control" null-is-undefined ng-options="selection.hora for selection in seleccionarHorae | filter:{ids:horaPedido2_origen}" ng-disabled="user.almacen == 1">
                                    <option value="">Seleccione el rango</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row" ng-if="user.tipo_usuario == 3 && user.almacen == 0">
                              <div class="col-xs-12 col-md-4">
                                <div class="form-group input_pedido">
                                  <label>Fijar horario de recojo</label>
                                  <md-datepicker ng-model="fecha_origen" ng-change="ajusteFecha_origen(fecha_origen)" md-placeholder="Enter date" md-min-date="minDate" md-date-filter="onlyWeekendsPredicate" ng-disabled="user.almacen == 1"></md-datepicker>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-4">
                                <div class="form-group input_pedido">
                                  <label>Turno</label>
                                  <select ng-model='horaPedido2_origen' ng-change="ajusteHora1_origenO(horaPedido2_origen)" class="form-control" null-is-undefined ng-options="select.id as select.horario for select in seleccionarHorarioO" ng-disabled="user.almacen == 1">
                                    <option value="">Seleccione el turno</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-4">
                                <div class="form-group input_pedido">
                                  <label>Rango</label>
                                  <select ng-model='horaPedido3_origen' ng-change="ajusteHora2_origenO(horaPedido3_origen)" class="form-control" null-is-undefined ng-options="selection.hora for selection in seleccionarHoraeO" ng-disabled="user.almacen == 1">
                                    <option value="">Seleccione el rango</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                         </div>
                      </div>
                    </tbody>
                </table>
              </form>
              <form>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <div ng-repeat="pedido in pedidos | orderBy:'id_pedido'">

                            <div class="content_dist" ng-show="pedidos.length < 2"><h5 class="dest-orin1 arrow_box" ng-show="pedidos.length < 2">DESTINO</h5></div>
                            <div class="content_dist" ng-show="pedidos.length > 1"><h5 class="dest-orin1 arrow_box" ng-show="pedidos.length > 1">DESTINO {{$index + 1}}</h5></div>
                            <div class="panel panel-default">
                              <div class="panel-body">
                                <div class="delete_pedido">
                                  <i class="fa fa-times-circle icon_delete" aria-hidden="true" ng-show="pedidos.length > 1" ng-click="borrarPedido(pedido)"></i>
                                </div>
                                <div style="text-align:right"> 
                                <button class="btn btn-icon"><md-tooltip md-direction="top">Agregar favorito</md-tooltip><span class="fa fa-star" ng-class="{active: pedido.star}" ng-click="fav1(pedido)"></span></button>
                                </div>
                                  <div class="row">
                                    <div class="col-xs-12 col-md-8">
                                      <div class="form-group input_pedido">
                                          <label>Dirección de Destino</label>
                                          <input class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="pedido.destino" placeholder="Dirección de destino" ng-change="change(pedido.id_pedido)" ng-blur="consola2(pedido.id_pedido)" ng-enter="consola2(pedido.id_pedido)" style="padding-right: 30px;"/>
                                          <div class="item dropdown fav_place" uib-dropdown>
                                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                              <md-tooltip md-direction="top">Direcciones guardadas</md-tooltip><img ng-src="images/favorite-place.png" class="img_favorite">
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" style="right:106%; margin-top:6px">
                                              <li class="dropdown-header" ng-repeat="item in lista_favorito" ng-click="select_fav(item, pedido.id_pedido)">
                                                {{item.direccion}} {{item.departamento}}
                                              </li>
                                            </ul>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>N° Casa, Dpto., Lote</label>
                                        <input type="text" class="form-control" ng-model="pedido.departamentoDestino" placeholder="N° Casa, Dpto., Lote"/>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-12 col-md-5">
                                      <div class="form-group input_pedido">
                                        <label>Nombre Contacto</label>
                                        <input type="text" class="form-control" ng-model="pedido.nombreDestino" placeholder="Nombre de quien recibe"/>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                      <div class="form-group input_pedido">
                                        <label>Celular</label>
                                        <input type="text" min="0" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="pedido.telefonoDestino" placeholder="Celular"/>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>Distrito</label>
                                        <select ng-model='pedido.distrito' ng-change="ajusteDistrito2(pedido)" class="form-control" null-is-undefined ng-options="select.nombre for select in distritos | orderBy:'nombre'" style="padding-top: 3px;">
                                          <option value="" style="color:#9c9c9f"><span style="color:#9c9c9f">Seleccione Distrito</span></option>
                                        </select>
                                      </div>
                                    </div>
                                  </div> 
                                  <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                      <div class="form-group input_pedido">
                                        <label>Referencia</label>
                                        <textarea class="form-control" ng-model="pedido.comentarios" placeholder="Referencias, indicaciones, etc."></textarea>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row" ng-if="user.tipo_usuario == 3">
                                    <div class="col-xs-11 col-md-11">
                                      <div class="form-group input_pedido">
                                        <label>Productos</label>
                                        <textarea class="form-control" ng-model="pedido.detalle" placeholder="Ingresa los productos que deseas enviar" ng-disabled="user.almacen == 1"></textarea>
                                      </div>
                                    </div>
                                    <div class="col-xs-1 col-md-1">
                                      <button class="btn btn-danger btn-quit btn-topshop" ng-click="productos_modal(pedido,inventario)"><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                    </div>
                                  </div>
                                  <div class="row" ng-if="user.tipo_usuario == 3">
                                    <div class="col-xs-12 col-md-8">
                                      <div class="form-group input_pedido">
                                        <label>Cantidad productos a enviar</label>
                                        <input type="number" min="0" step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="pedido.cantidad" placeholder="0" ng-disabled="user.almacen == 1"/>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>Costo productos</label>
                                        <span class="icon_sol">S/.</span>
                                        <input type="number" min="0" step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control pl-30" ng-model="pedido.subtotal" ng-change="costo_envio(pedido)" ng-disabled="user.almacen == 1"/>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row" ng-if="user.tipo_usuario == 3">
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>Adicionar</label>
                                        <span class="icon_sol">S/.</span>
                                        <input type="number" min="0" step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control pl-30" ng-model="pedido.cobrarecommerce" ng-change="costo_envio(pedido)"/>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>Descuento</label>
                                        <span class="icon_sol">S/.</span>
                                        <input type="number" min="0" step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control pl-30" ng-model="pedido.descuento" ng-change="costo_envio(pedido)"/>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>Total a cobrar</label>
                                        <span class="icon_sol">S/.</span>
                                        <input type="number" min="0" step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control pl-30" ng-model="pedido.total" ng-disabled="user.almacen == 1"/>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row" ng-if="user.tipo_usuario == 3">
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>Fijar horario de envíos</label>
                                        <md-datepicker ng-model="pedido.fecha_destino1" ng-change="ajusteFecha_destino(pedido)" ng-click="pruebaFecha()" md-placeholder="Enter date" md-min-date="minDate2" md-date-filter="onlyWeekendsPredicate" style="padding-bottom: 0px !important"></md-datepicker>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>Turno</label>
                                        <select ng-model='pedido.horario_destino' ng-change="ajusteHora1_destino(pedido)" class="form-control" null-is-undefined ng-options="select.id as select.horario for select in seleccionarHorario">
                                          <option value="">Seleccione el turno</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                      <div class="form-group input_pedido">
                                        <label>Rango</label>
                                          <select ng-model='pedido.hora_destino1' ng-change="ajusteHora2_destino(pedido.hora_destino1,pedido)" class="form-control" null-is-undefined ng-options="selection.hora for selection in seleccionarHorae | filter: {ids:pedido.horario_destino}">
                                          <option value="">Seleccione el rango</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row" ng-if="user.tipo_usuario == 3">
                                    <div class="col-xs-12 col-md-12">
                                      <div class="form-group input_pedido">
                                        <label>Forma de Pago</label>
                                        <md-radio-group ng-model="pedido.forma">
                                          <md-radio-button ng-value="0" class="md-primary"> Efectivo</md-radio-button>
                                          <md-radio-button ng-value="2" class="md-primary"> Pos Visa</md-radio-button>
                                        </md-radio-group>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div ng-show="pedidos.length > 1" ng-if="!$last">
                                <img src="images/arrow.png" class="arrow-up" ng-click="subir(pedido.id_pedido)">
                                <img src="images/arrow.png" class="arrow-down" ng-click="bajar(pedido.id_pedido)">
                            </div>
                            <br>
                        </div>                
                        <button class="btn btn-danger pull-right btn-add btn-top" ng-click="addNew()">Agregar Destino</button>
                        <button class="btn btn-danger pull-right btn-add btn-top" ng-click="retorno()" ng-if="user.tipo_usuario != 3">Retorno</button>
                    </tbody>
                </table>
              </form>
              <br>
              <div class="row">
              <div class="col-xs-12 col-md-12 cc-selector">
                <div class="col-xs-12 col-md-3">
                  <p class="title_medio">Selecciona el medio de envío que deseas utilizar:</p>
                </div>
                <div class="content-articulos">
                  <div class="col-xs-4 col-md-3">
                    <md-tooltip md-direction="top">Moto</md-tooltip><input id="moto" type="radio" name="medio" ng-model="medio" ng-value="0" ng-change="change_medio()" />
                    <label class="drinkcard-cc moto" for="moto"></label>
                  </div>
                  <div class="col-xs-4 col-md-3">
                  <md-tooltip md-direction="top">No disponible por el momento</md-tooltip><input id="auto" type="radio" name="medio" ng-model="medio" ng-value="1" ng-disabled="true"/>
                  <label class="drinkcard-cc auto" for="auto"></label>
                  </div>
                  <div class="col-xs-4 col-md-3">
                    <md-tooltip md-direction="top">No disponible por el momento</md-tooltip><input id="van" type="radio" name="medio" ng-model="medio" ng-value="2" ng-disabled="true"/>
                  <label class="drinkcard-cc van" for="van"></label>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              </div>
              <div class="last-buttons" ng-show="!showProgramar">
                <button class="btn btn-primary pull-left btn-quit" ng-click="programar()" ng-if="user.tipo_usuario != 3">Programar</button>
                <!--<button class="btn btn-primary pull-left btn-quit" ng-disabled="false" ng-click="borrador()" style="margin-left: 5px;">Guardar Borrador</button>-->
                <button class="btn btn-danger pull-right btn-add" ng-if="user.tipo_usuario != 3" ng-click="Pago_persona()">Solicitar Envío</button>
                <button class="btn btn-danger pull-right btn-add" ng-if="user.tipo_usuario == 3" ng-click="Pago_ecommerce()">Solicitar Envío</button>
                <button class="btn btn-primary pull-right btn-quit" ng-click="borrar()">Limpiar</button>
                <loadingwait2></loadingwait2>
              </div>
              <br>
              <div ng-show="showProgramar" class="row" ng-if="user.tipo_usuario != 3">
                <div class="col-xs-12 col-md-6">
                <md-datepicker ng-model="myDate" ng-change="ajusteFecha(myDate)" md-placeholder="Enter date" md-min-date="minDate" md-date-filter="onlyWeekendsPredicate"></md-datepicker>
                </div>
                <div class="col-xs-12 col-md-6">
                <select ng-model='horaPedido1' ng-change="ajusteHora(horaPedido1)" class="form-control" null-is-undefined ng-options="select.hora for select in selectHora"  required>
                  <option value="">Seleccione el horario</option>
                </select>
                </div>
                <div class="col-xs-12 col-md-12">
                  <br><br>
                  <button class="btn btn-primary pull-left btn-quit" ng-click="programar()">No Programar</button>
                  <!--<button class="btn btn-primary pull-left btn-quit" ng-disabled="false" ng-click="borrador()" style="margin-left: 5px;">Guardar Borrador</button>-->
                  <loadingwait2></loadingwait2>
                  <button class="btn btn-danger pull-right btn-add" ng-click="Pago_persona()">Solicitar Envío</button>
                  <button class="btn btn-primary pull-right btn-quit" ng-click="borrar()">Limpiar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content_mapa">
            <div class="content-map">
              <div id="mapo"></div>
              <div class="content-unidades">
                <div class="col-xs-4 col-md-4"><img src="images/location-on-road.png" width="25"><p class="text_unidades">KM: {{km | number:2}}</p></div>
                <div class="col-xs-4 col-md-4"><img src="images/time.png" width="25"><p class="text_unidades">Min: {{duracion}}</p></div>
                <div class="col-xs-4 col-md-4" ng-if="user.tipo_usuario != 3"><img src="images/credit-card.png" width="25"><p class="text_unidades">Costo: S/. {{costo | number:2}}</p></div>
                <div class="col-xs-4 col-md-4" ng-if="user.tipo_usuario == 3"><img src="images/credit-card.png" width="25"><p class="text_unidades">Costo: S/. {{costoe | number:2}}</p></div>
                <br>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->