<md-dialog aria-label="Mango (Fruit)" style="width: 38%;">
  <!--<form ng-cloak >-->
    <md-dialog-content>
      <div>
        <i class="fa fa-times delete_modal" aria-hidden="true" ng-click="cancelar()"></i>
      </div>
      <div class="md-dialog-content">
        <div class="logo_register">
            <img src="images/logo.png" alt="Gamarra" />
        </div>
        <br>
        <div class="content-tab">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)"><span class="menu-icon fa fa-user"></span>&nbsp;&nbsp;Persona</a>
            </li>
            <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)"><span class="menu-icon fa fa-building"></span>&nbsp;&nbsp;Empresa</a>
            </li>
            <li ng-class="{ active: isSet(3) }">
                <a href ng-click="setTab(3)"><span class="menu-icon fa fa-desktop"></span>&nbsp;&nbsp;E-commerce</a>
            </li>
          </ul>
        </div>
        <br>
        <div class="content-tab2">
          <div class="content_formrg">
            <div ng-show="isSet(1)">
              <form name="userForm" ng-submit="guardar('1')" novalidate>
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="registro.name" required>
              </div>
              <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="Apellido" ng-model="registro.apellidos">
              </div>
               <div class="text_registro form-group">
                <input type="text" class="form-control" placeholder="DNI" ng-model="registro.dni" required>
              </div>
              <div class="text_registro form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" ng-model="registro.email" ng-blur="signup_check()" required>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block" style="color:#F44336 !important;font-size:12px;">Introduce un email válido</p>
                <p ng-show="check_email" class="help-block" style="color:#F44336 !important;font-size:12px;">Este Email ya esta registrado!</p>
              </div>
              <div class="text_registro form-group">
                <input type="text" class="form-control" name="telefono" placeholder="Teléfono" ng-model="registro.telefono" ng-minlength="9">
                <p ng-show="userForm.telefono.$error.minlength" class="help-block" style="color:#F44336 !important;font-size:12px;">Formato de teléfono no válido</p>
              </div>
              <div class="text_registro form-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" ng-model="registro.password" ng-minlength="6" required>
                <p ng-show="userForm.password.$error.minlength" class="help-block" style="color:#F44336 !important;font-size:12px;">Contraseña debe al menos 6 caracteres</p>
              </div>
              <div class="text_registro form-group">
                <input type="password" class="form-control" placeholder="Repita contraseña" ng-minlength="6" ng-model="registro.rpassword" required>
                <p ng-show="registro.password != registro.rpassword" class="help-block" style="color:#F44336 !important;font-size:12px;">Contraseñas no coinciden</p>
              </div>
                <br>
                <button type="submit" class="btn btn-danger btn-add" ng-disabled="userForm.$invalid" ng-hide="check_email">Registrar</button>
              </form>
            </div>
            <div ng-show="isSet(2)">
              <form name="userForm2" ng-submit="guardar1('2')" novalidate>
                <div class="text_registro form-group">
                  <input type="text" class="form-control" placeholder="Razón Social" ng-model="registro.razon_social" required>
                </div>
                 <div class="text_registro form-group">
                  <input type="text" class="form-control" placeholder="RUC" ng-model="registro.ruc" required>
                </div>
                <div class="text_registro form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" ng-model="registro.email" ng-blur="signup_check()" required>
                  <p ng-show="userForm2.email.$invalid && !userForm2.email.$pristine" class="help-block" style="color:#F44336 !important;font-size:12px;">Introduce un email válido</p>
                  <p ng-show="check_email" class="help-block" style="color:#F44336 !important;font-size:12px;">Este Email ya esta registrado!</p>
                </div>
                <div class="text_registro form-group">
                  <input type="text" class="form-control" name="telefono" placeholder="Teléfono" ng-model="registro.telefono" ng-minlength="9">
                  <p ng-show="userForm2.telefono.$error.minlength" class="help-block" style="color:#F44336 !important;font-size:12px;">Formato de teléfono no válido</p>
                </div>
                <div class="text_registro form-group">
                  <input type="password" class="form-control" name="password" placeholder="Contraseña" ng-model="registro.password" ng-minlength="6" required>
                  <p ng-show="userForm2.password.$error.minlength" class="help-block" style="color:#F44336 !important;font-size:12px;">Contraseña debe al menos 6 caracteres</p>
                </div>
                <div class="text_registro form-group">
                  <input type="password" class="form-control" placeholder="Repita contraseña" ng-minlength="6" ng-model="registro.rpassword" required>
                  <p ng-show="registro.password != registro.rpassword" class="help-block" style="color:#F44336 !important;font-size:12px;">Contraseñas no coinciden</p>
                </div>
                  <br>
                  <button type="submit" class="btn btn-danger btn-add" ng-disabled="userForm2.$invalid" ng-hide="check_email">Registrar</button>
              </form>
            </div>
            <div>
              <form name="userForm3" ng-submit="guardar2('3')" novalidate>
                <div class="text_registro form-group">
                  <input type="text" class="form-control" placeholder="Fan Page o Razón Social" ng-model="registro.razon_social" required>
                </div>
                 <div class="text_registro form-group">
                  <input type="text" class="form-control" placeholder="Ruc o Dni" ng-model="registro.ruc" required>
                </div>
                <div class="text_registro form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" ng-model="registro.email" ng-blur="signup_check()" required>
                  <p ng-show="userForm3.email.$invalid && !userForm3.email.$pristine" class="help-block" style="color:#F44336 !important;font-size:12px;">Introduce un email válido</p>
                  <p ng-show="check_email" class="help-block" style="color:#F44336 !important;font-size:12px;">Este Email ya esta registrado!</p>
                </div>
                <div class="text_registro form-group">
                  <input type="text" class="form-control" name="telefono" placeholder="Celular" ng-model="registro.telefono" ng-minlength="9">
                  <p ng-show="userForm3.telefono.$error.minlength" class="help-block" style="color:#F44336 !important;font-size:12px;">Formato de celular no válido</p>
                </div>
                <div class="text_registro form-group">
                  <input type="password" class="form-control" name="password" placeholder="Contraseña" ng-model="registro.password" ng-minlength="6" required>
                  <p ng-show="userForm3.password.$error.minlength" class="help-block" style="color:#F44336 !important;font-size:12px;">Contraseña debe al menos 6 caracteres</p>
                </div>
                <div class="text_registro form-group">
                  <input type="password" class="form-control" placeholder="Repita contraseña" ng-minlength="6" ng-model="registro.rpassword" required>
                  <p ng-show="registro.password != registro.rpassword" class="help-block" style="color:#F44336 !important;font-size:12px;">Contraseñas no coinciden</p>
                </div>
                  <br>
                  <button type="submit" class="btn btn-danger btn-add" ng-disabled="userForm3.$invalid" ng-hide="check_email">Registrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>
  <!--</form>-->
</md-dialog>