<md-dialog aria-label="Mango (Fruit)" class="dialog_detalle">
  <form ng-cloak >
    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h3>
            Productos
          </h3>
          <span flex></span>
          <md-button aria-label="Search" class="button_modal" style="fill: white" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Cancel" class="button_modal" style="fill: white" ng-click="cancelar()">
            <ng-md-icon icon="clear"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" class="button_modal" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
          <h3 flex="10">
            Atras
          </h3>
          <md-input-container md-theme="input" flex class="search_modal">
            <label>&nbsp;</label>
            <input ng-model="search" placeholder="Buscar producto">
          </md-input-container>
          <md-button aria-label="Search" class="button_modal" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Cancel" class="button_modal" ng-click="cancelar()">
            <ng-md-icon icon="clear"></ng-md-icon>
          </md-button>
        </div>
       
      </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

          <md-whiteframe ng-repeat="producto in color_first | filter: search" class="md-whiteframe-1dp" flex-sm="40" flex-gt-sm="30" flex-gt-md="20" layout-align="center center" ng-init="outerIndex=$index">
              <img src="{{producto.imagen}}" class="img_productos">
              <span>
                <p class="title_producto">{{producto.nombre}}</p>
                <p class="description_producto">camisa</p>
                <p class="precio_producto">S/. {{producto.precio}}</p>
                <div>
                  <p class="item_producto">Color</p>
                  <div ng-repeat="colores in productos[$index].colores" class="content_color" ng-init="innerIndex=$index" ng-click="select_color(colores,outerIndex)">
                  <div style="background-color:{{colores.color}};" class="color_producto"></div>
                  </div>
                </div>
                <div style="margin: 5px 0px">
                  <p class="item_producto">Talla</p>
                  <div ng-repeat="size in producto.atributos" class="content_talla" ng-init="innerIndex2=$index" ng-click="select_talla(size,outerIndex,producto)" ng-class="{talla_active: size.atributo === talla_select[outerIndex] }">
                    <div class="talla_producto">{{size.atributo}}</div>
                  </div>
                </div>
                <p class="item_cantidad">Cantidad disponible: {{producto.cantidad_disp}}</p>
                <div>
                  <md-button aria-label="Add" class="button_modaladd  pull-right" ng-click="add_product(producto)">
                    <ng-md-icon icon="add_circle_outline" size="28" style="fill:#029ed1"></ng-md-icon>
                  </md-button>
                  <md-button aria-label="Remove" class="button_modalquit  pull-right">
                    <ng-md-icon icon="remove_circle_outline" size="28" style="fill:#029ed1"></ng-md-icon>
                  </md-button>
                  <h3 class="pull-right cant_elegida"> x 1</h3>
                </div>
              </span>
          </md-whiteframe>  
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>