<div class="row-fluid">
<div class="span12">
    <navmenu></navmenu>
</div>
</div>
	<div class="content_principal p_top">
		<div class="row margin_null">  
		  <ul class="content_tabmoto">
		    <div class="col-xs-3 col-md-3 nav nav-pills nav-stacked">
		      <li ng-class="{ active: isSet(1) }">
		        <a href="#/pendientes" class="link_tab link_active">Pedidos Pendientes &nbsp;<i class="fa fa-clock-o icon_tab" aria-hidden="true"></i></a>
		      </li>
		    </div>
		    <div class="col-xs-3 col-md-3 nav nav-pills nav-stacked">
		      <li ng-class="{ active: isSet(2) }">
		        <a href="#/encurso" class="link_tab">Pedidos en Curso &nbsp;<i class="fa fa-road icon_tab" aria-hidden="true"></i></a>
		      </li>
		    </div>
		    <div class="col-xs-3 col-md-3 nav nav-pills nav-stacked">
		      <li ng-class="{ active: isSet(3) }">
		        <a href="#/finalizados" class="link_tab">Pedidos Finalizados &nbsp;<i class="fa fa-check icon_tab" aria-hidden="true"></i></a>
		      </li>
		    </div>
			<div class="col-xs-3 col-md-3 nav nav-pills nav-stacked">
		      <li ng-class="{ active: isSet(4) }">
		        <a href="#/anulados" class="link_tab">Pedidos Anulados &nbsp;<i class="fa fa-times icon_tab" aria-hidden="true"></i></a>
		      </li>
		    </div>
		  </ul>
	</div>
		<br>
		<div class="content_button_proceso" style="width:21%">
			<button class="md-button btn_yellow" ng-click="imprimir()" style="width: 65%;">Imprimir Listado</button>
			<button class="md-button btn_yellow" ng-click="asignar_listado()" style="width: 65%;">Asignar Varios Pedidos</button>
		</div>
		<br>
        <div ng-controller="ListadoProcesoCtrl as showCase" class="tabla_pedidos tabla_pendientes">
        	<md-card style="background-color: #F8F8F8;width: 78%;padding: 20px 30px 20px 20px;border-radius: 4px;">
	        	<div class="row">
	        		<div class="col-md-7">
					<span style="font-size:11px !important; float:left; margin-top:20px;">TIPO:</span>
					<div class="button-group">
						<button class="button" ng-class="{'button_selectblack': select_button == 4, 'button_unselectblue': select_button != 4}" ng-click="change_tipo(4)">Todos</button>
						<button class="button" ng-class="{'button_selectblack': select_button == 1, 'button_unselectblue': select_button != 1}" ng-click="change_tipo(1)">Persona/Empresa</button>
						<button class="button" ng-class="{'button_selectblack': select_button == 2, 'button_unselectblue': select_button != 2}" ng-click="change_tipo(2)">Ecommerce</button>
						<button class="button" ng-class="{'button_selectblack': select_button == 3, 'button_unselectblue': select_button != 3}" ng-click="change_tipo(3)">Reprogramados</button>
					</div>
				</div>
	        		<div class="col-md-5">
	        			<span style="font-size:11px !important; float:left;margin-top:20px;">FECHA:</span>
						<md-datepicker ng-model="fecha_filtro" md-placeholder="dd/mm/yyyy" ng-change="change_date(fecha_filtro)">
		    			</md-datepicker>
	        		</div>
	        	</div>
	        	<div class="row">
	        		<br>
		        	<div class="col-md-4">
		        		<span style="font-size:11px !important">RANGO:</span>  <select name="show-filter" ng-model="catFilter" ng-options="category as category.hora for category in rangos" ng-change="change_rango(catFilter)"></select>
		        	</div>
		        	<div class="col-md-4">
		        		<span style="font-size:11px !important">ZONA:</span> <select name="show-filter" ng-model="catFilter2" ng-init="catFilter2 = 0" ng-options="place.zona for place in distritos | unique:'zona' | orderBy:'zona'" ng-change="change_zona(catFilter2)">
		        		</select>
		        	</div>
		        	<div class="col-md-4">
		        		<span style="font-size:11px !important">DISTRITOS:</span> <select name="show-filter" ng-model="catFilter3" ng-init="catFilter3 = 0" ng-options="category.nombre for category in distritos | orderBy:'nombre' | filter: {zona:catFilter2.zona} " ng-change="change_distrito(catFilter3)">
		        		</select>
		        	</div>
	        	</div>
	        	<div class="row">
	        		<br>
		        	<div class="col-md-9">
		        		<span style="font-size:11px !important;">BUSCAR ID PEDIDO:</span> <input type="number" ng-model="filternumber" class="form-control" style="width:20% !important;">
		        		<button class="md-button btn_yellow" ng-click="change_number(filternumber)" style="background-color: #029ed1 !important;color: #fff !important;font-size: 11px !important;min-height: 14px !important;line-height: 25px;position: relative;top: -5px;">Buscar</button>
		        	</div>
			        <div class="col-md-3">
	        			<button class="md-button btn_yellow pull-right" ng-click="limpiar()" style="background-color: #029ed1 !important;color: #fff !important;font-size: 11px !important;min-height: 14px !important;line-height: 25px;margin: 0px 0px 0px 0px !important;">Limpiar Filtros</button>
	        		</div>
        		</div>
        	</md-card>
	      	<table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover tabla_pendiente" id="tablependiente"></table>
			<div id="detalle_pedido2" ng-show="false">
				<img src="images/logo.png" height="50">
				<h4 class="title_print">Courier GAMARRA</h4>
				<hr>
				<p style="display:block !important;text-align:right;margin-bottom:0px !important">Nº Pedido: {{idpedido}}</p>
				<div style="width:30%;display:inline-block !important;float:left">
					<p style="margin-bottom:0px !important">CLIENTE</p>
				  	<hr>
				  	<p class="text_print">Nombre/Razón Social: {{pedidos.nombre}}</p>
				  	<p class="text_print">DNI/RUC: {{cliente.dni}}</p>
				  	<p class="text_print">Teléfono: {{cliente.telefono}}</p>
				  	<p class="text_print">Correo: {{cliente.email}}</p>
				</div>
			  	<div style="width:30%; display:inline-block !important;float:left">
				  <p style="margin-bottom:0px !important">ORIGEN</p>
				  <hr>
				  <div style="width:95%">
			      <p class="text_print">Dirección: {{destinos.origen}}</p>
			      <p class="text_print">Distrito: {{destinos.distrito_origen}}</p>
			      <p class="text_print">Departamento: {{destinos.departamento_origen}}</p>
			      <p class="text_print">Contacto: {{destinos.nombre_origen}}</p>
			      <p class="text_print">Teléfono: {{destinos.telefono_origen}}</p>
				  <p class="text_print">Comentarios: {{destinos.comentarios}}</p>
				  </div>
			  	</div>  
			  	<div style="width:38%; display:inline-block !important;float:left">
				  <p style="margin-bottom:0px !important">DESTINO</p>
				  <hr>
				  <div style="width:50%; display:inline-block !important; float:left;margin-left:5px">
			          <p class="text_print" style="margin-top:0px !important">Dirección: {{destinos.destino}}</p>
			          <p class="text_print">Distrito: {{destinos.distrito_destino}}</p>
			          <p class="text_print">Departamento: {{destinos.departamento_destino}}</p>
			          <p class="text_print">Contacto: {{destinos.nombre_destino}}</p>
			          <p class="text_print">Teléfono: {{destinos.telefono_destino}}</p>
			      </div>
			       <div style="width:48%; display:inline-block !important;margin: 0px 0px 5px 0px;float:left;text-align:right !important">
			          <p class="text_print" style="margin-top:0px !important">KM: {{destinos.km}}</p>
			          <p class="text_print">Costo: S/.{{destinos.costo}}</p>
			      </div>
			      <div style="width:100%; display:inline-block !important;margin: 0px 0px 5px 0px;">
			        <p class="text_print">Comentarios: {{destinos.comentarios2}}</p>
			      </div>
			      <div style="width:49%; display:inline-block !important;margin: 0px 0px 5px 0px;" ng-if="cliente.tipo_usuario == 3">
			        <p class="text_print">Productos: {{destinos.detalle}}</p>
			        <div ng-if="!$last"><hr></div>
			      </div>
			      <div style="width:48%; display:inline-block !important;margin: 0px 0px 5px 0px;text-align:right !important" ng-if="cliente.tipo_usuario == 3">
			        <p class="text_print">Costo Productos: S/.{{destinos.subtotal}}</p>
			        <p class="text_print">Costo Entrega: S/.{{destinos.cobrarecommerce}}</p>
			        <div ng-if="!$last"><hr></div>
			      </div>
				</div>
				<br>
				<div style="width:100%;display:block">
					<br>
					<p class="text_print">Servicio: {{pedidos.tipo}}, Forma de Pago: {{pedidos.forma_pago1}}, Fecha de Envío: {{pedidos.fecha}}</p>
			  		<p style="display:block !important;text-align:right;margin-bottom:0px !important;font-size:9px">Emitido: {{fecha_actual}}</p>
				</div>
			</div>
			<div id="pendientes" ng-show="false">
					<img src="images/logo.png" height="50">
					<h4 class="title_print">Courier Liebre Express</h4>
					<hr>
					<p style="text-align:right;font-size:12px">Fecha: {{fecha_actual}}</p>
					<p style="text-align:center">PEDIDOS POR CONFIRMAR</p>
					<table style="width:100%">
					  <tr>
					    <th>Nº Orden</th>
					    <th>E-commerce</th>
					    <th>Cliente Final</th> 
					    <th>Telefono</th>
					    <th>Destino</th>
					    <th>Nº Casa</th>
					    <th>Distrito Destino</th>
					    <th>Productos</th>
					    <th>Rango</th>
					    <th>Total a Cobrar</th>
					    <th>Forma de Pago</th>
					  </tr>
					  <tr ng-repeat="track in tracking" style="font-size:20px;">
					    <td>LIE000{{track.id}}</td>
					    <td>{{track.nombre}}</td> 
					    <td ng-repeat="dest in track.destinos" ng-if="$last">{{dest.nombre_destino}}</td>
					   	<td ng-repeat="dest in track.destinos" ng-if="$last">{{dest.telefono_destino}}</td>
					   	<td ng-repeat="dest in track.destinos" ng-if="$last">{{dest.destino}}</td>
					   	<td ng-repeat="dest in track.destinos" ng-if="$last">{{dest.departamento_destino}}</td>
					   	<td ng-repeat="dest in track.destinos" ng-if="$last">{{dest.distrito_destino}}</td>
					   	<td ng-repeat="dest in track.destinos" ng-if="$last">{{dest.detalle}}</td>
					   	<td ng-repeat="dest in track.destinos" ng-if="$last">{{dest.hora_destino}}</td>
					   	<td ng-repeat="dest in track.destinos" ng-if="$last">{{dest.total}}</td>
					   	<td>
					   		<span ng-if="track.forma_pago == 0">EFECTIVO</span>
					   		<span ng-if="track.forma_pago == 1">TRANSFERENCIA</span>
					   		<span ng-if="track.forma_pago == 2">POSVISA</span>
					   	</td>
					  </tr>
					</table>
			</div>
	  	</div>
	</div>
<navfooter></navfooter>




