<md-dialog aria-label="Mango (Fruit)" style="width:30%;">
  <form ng-cloak >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Pedidos Pendientes de Pago</h2>
        <span flex></span>
        <div>
          <i class="fa fa-times delete_modal" style="color:#fff !important" aria-hidden="true" ng-click="cancelar()"></i>
        </div>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div>
          <table style="width:100%" class="table table-striped table-hover" id="dataTables-example">
              <thead>
                  <tr class="head_table">
                      <th>Nº Orden</th>
                      <th>Fecha de Liquidación</th>
                      <th>Monto</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat='item in pendientes' class="odd gradeX">
                      <td> <span ng-repeat='orden in item.nordens | orderBy: n_orden'> LIE000{{orden.n_orden}},</span></td>
                      <td>{{item.fecha1}}</td>
                      <td>S/. {{item.costo1 | number:2}}</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>