<div class="fondo_login">
    <!-- Header -->
  <div class="header">
    <div>
      <div class="meta">
        <div class="page">
            <img src="images/logo.png">
            <p class="title_head">SISTEMA DE MOTORIZADOS - LIEBRE COURIER EXPRESS</p>
        </div>
      </div>
    </div>
    </div> 
    <div class="content_login">
        <div class="login-form">
        	<h1>Liebre Express</h1>
            <div class="head">
                <img src="images/logo.png" alt="" />
            </div>
            <form ng-submit="login()">
                <input type="text" class="text_login" placeholder="Usuario" ng-model="user.username">
                <input type="password" class="text_login" placeholder="Contraseña" ng-model="user.password">
                <div class="submit">
                    <input type="submit" value="Iniciar Sesión" >
                </div>
                <p>Todos los derechos reservados Liebre Express © 2017</p>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>  
